{% extends 'navigation.twig' %}
    {% block body %}
        <section class="section-login">
            <h2>Login</h2>
            <div class="container">
                <div class="form-group">
                    <form action="index.php/login" method="post">
                        <label for="username">Username<label>
                        <input type="text" name="username" id="username"></input>
                        <label for="password">Password<label>
                        <input type="text" name="password" id="password"></input>
                        <input type="submit" placeholder="Login">
                    </form>
                </div>
            </div>
        </section>
    {% endblock %}
