{% extends 'layout.twig' %}
{% block navigation %}
    <header>
        <div class="container">
            <nav>
                <a href="#">Settings</a>
                <a href="app/status">Device Status</a>
                <a href="#">Log Out</a>
            </nav>
        </div>
    </header>
{% endblock %}