{% extends 'layout.twig' %}
{% block navigation %}
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <span>EE-M2M</span>
                </div>
                <div class="links">
                    <a href="index.php">Home</a>
                    <a href="index.php/update">Update</a>
                    <span>{{ username }}</span>
                    <a href="logout">Logout</a> 
                </div>     
                <div class="burger">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}