{% extends 'layout.twig' %}
{% block navigation %}
    <header>
        <div class="container">
            <nav>
                <a href="/index.php">Home</a>
                <a href="index.php/update">Update</a>
                <span>{{ username }}</span>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>
{% endblock %}